<% 
	fillPercent = shop.getAssetFillPercent * 100 
%>
<tr>
	<td><%= link_to shop.id, "/departments/#{shop.id}" %></td>
	<td><%= shop.title %></td>
	<td <%= 'class="red"'.html_safe if fillPercent == 0 %>><%= number_to_percentage(fillPercent, precision: 0) %></td>
</tr>