<table class="table">
	<thead>
		<th>id</th>
		<th>title</th>
	</thead>	
	<% @orders.each do |order| %>
		<tr>
			<td><%= order.id %></td><td><%= order.title %></td>
		</tr>
	<% end %>
</table>